.question-page {
    height: 100vh;
    background-color: #41464b;
}

.question-page--difficulty-banner {
    background-color: #ffd000;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-page--question {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #fff;
    box-shadow: 10px 10px 10px 1px #00000080;
}
