.progess-bar--inner {
    height: 100%;
    position: absolute;
    left: 0;
    transition: width 1s ease-in-out;
    background-color: #2125299c;
}

.progress-bar--difficulty {
    z-index: 1;
}

.progress-bar--time {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    z-index: 1;
}
